.banner{
    background-color: var(--cinza-fraco);
    height: 110px;
    background: var(--degrade-rs);
    padding: 15px;
    color:  var(--branco-neve);


    & div{
    margin-left: 100px; 
    }
}