:root{
    --gradiente-azul: linear-gradient(135deg, #667eea 0%, #648dff 100%);
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradiente-azul)
}

.card{
    background-color: #F7F9FE;
    width: 350px;
    height: 380px;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2)
}

.title{
    text-align: center;
    color: #333;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Arial', sans-serif;
}

.groupFormMargin{
    margin-top: 25px;
}

.inputGroup{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.label{
    font-size: 15px;
    color: #555;
    margin-bottom: 2px;
    font-family: 'Arial', sans-serif;
    font-weight: 100;
}

.inputLogin{
    padding: 8px 15px;
    border: 2px solid #dbedf5;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;

    &:hover{
        border-color:  #71a4f1;
    }

    &&:focus{
        border-color: #71a4f1;
        box-shadow: 0 0 0 4px rgba(113, 164, 241, 0.1);
    }
}

.buttonForm{
    background-color: #648dff;
    border-radius: 8px;
    border: transparent 2px solid;
    color: #fff;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    font-family: var(--font-poppins);
    font-weight: 400;
    transition: transform 0.3s ease;
    margin-top: 20px;
    &:hover{
        transform: translateY(-2px);
        box-shadow: 0 8px 25px rgba(102, 126, 234, 0.3);
    }

    &:active{
        transform: translateY(0)
    }
}