.side{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color:  #fff;
    padding: 20px;
    height: 100%;
    /* border-right: 2px solid var(--cinza-fraco); */
    border-radius: 10px;
}

.itemLista{
    list-style: none;
    
}

.List{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 0;
}

.linkContent{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    border: none;
    padding: 5px 5px;
    border-radius: 8px;
    width: 250px;
    background-color: transparent;
    height: 50px;
}

.linkContent:hover{
    background-color: var(--branco-neve);
}
/*
 background: linear-gradient(90deg, rgb(30, 180, 30) 0%, rgb(10, 136, 20) 100%);
.icon, .label {
        color: #fff;
    }
*/

.icon{
    width: 20px;
    color: #4A5565;
}

.label{
    color: #4A5565;
    font-family: var(--font-rubik);
}


.containerNav{
    display: flex;
    justify-content: start;
}

.pathAtivo{
    background: linear-gradient(90deg, rgb(59, 179, 59) 0%, rgb(20, 158, 32) 100%);
    .icon, .label {
        color: #fff;
    }
}